/* Увеличиваем шрифт только для основного текста статьи */
.doc {
    font-size: 1.30rem; /* Стандарт обычно 1rem, здесь мы увеличиваем на 15% */
    line-height: 1.6;   /* Увеличиваем межстрочный интервал для легкости чтения */
}

/* Если нужно увеличить и заголовки */
.doc h1.page { font-size: 2.4rem; }
.doc h2 { font-size: 1.8rem; }

/* Шрифт для кода (ваши алгоритмы) */
.doc code {
    font-size: 1rem; 
}

.doc img {
    max-width: 600px; /* Ограничивает слишком широкие схемы */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Центрирует иллюстрацию по горизонтали */
}

.small-img img {
    width: 25% !important;
    height: auto !important;
}