/* Centring all images inside imageblock */
.imageblock {
  text-align: center;
  margin: 1rem auto;
}

/* Signature centering */
.imageblock .title {
  text-align: center;
  font-style: italic;
  margin-top: 0.5rem;
}
